<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  :host {
    font-family: "Apercu",Avenir,-apple-system,BlinkMacSystemFont,"Helvetica Neue",Helvetica,"Calibri","Roboto",Arial,sans-serif;
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --BottomOffset: 5px;
    --LineHeight: 2px;
    --LineColor: #333;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    color: black;
    font-weight: 600;
    width: 100%;
  }

  .toolbar-div{
    /*padding-top: 25px;*/
    /*padding-left: 170px;*/
    /*padding-right: 170px;*/
    /*padding-bottom: 25px;*/
    padding: 35px 170px 25px 170px;
    display: flex;
    align-items: center;
    width: 100%;
  }

  .toolbar-menu{
    display: flex;
    flex-direction: row;
    margin-left: 3rem;
    list-style-type: none;
  }

  .toolbar-menu-list{
    padding: 0!important;
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
  }

  .toolbar-menu-wrapper{
    display: block;
    font: inherit;
  }

  .toolbar-item{
    margin-top: 2px;
    margin-right: 1.875rem;
    list-style-type: none;
  }

  .toolbar-item-a{
    position: relative;
    text-decoration: none;
    padding-bottom: 8px;
    color: inherit;
    font: inherit;
    font-size: 1rem;
  }

  .toolbar-menu-list ul.toolbar-menu>li>a {
    position: relative;
    z-index: 1;
  }
  .toolbar-menu-list ul.toolbar-menu>li>a:before {
    position: absolute;
    content: '';
    display: block;
    z-index: -1;
    background: var(--LineColor);
    width: 0;
    height: var(--LineHeight);
    bottom: var(--BottomOffset);
    border-radius:var(--LineHeight);
    left: 50%;
    transition: 0.4s cubic-bezier(0.25, 0.1, 0, 2.02);
  }

  .toolbar-menu-list ul.toolbar-menu>li>a:hover:before {
    width: calc(100% + var(--LineHeight));
    left: calc(var(--LineHeight) / -2);
  }

  .toolbar-menu-wrapper-secondary{
    padding-top: 0;
    display: flex;
    margin-left: auto;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
  }

  .toolbar-menu-contact-us{
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
  }

  .toolbar-menu-contact-us-a{
    background-color: #fff;
    color: blue;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    display: inline-block;
    border: 0.0625rem solid blue;
    border-radius: 0.25rem;
    cursor: pointer;
    padding: 0.4375rem 1rem;
  }

  .toolbar-menu-contact-us-a:hover{
    background-color: #CCCCFF;
  }

  .toolbar-menu-login{
    display: block;
    margin-left: 2.5rem;
    margin-top: 0.3rem;
  }

  .toolbar-menu-login-cta{
    position: relative;
    z-index: 1;
    text-decoration: none;
    padding-bottom: 8px;
    color: inherit;
    font: inherit;
    font-size: 1rem;
  }

  .toolbar-menu-login-cta:before {
    position: absolute;
    content: '';
    display: block;
    z-index: -1;
    background: var(--LineColor);
    width: 0;
    height: var(--LineHeight);
    bottom: var(--BottomOffset);
    border-radius:var(--LineHeight);
    left: 50%;
    transition: 0.4s cubic-bezier(0.25, 0.1, 0, 2.02);
  }

  .toolbar-menu-login-cta:hover:before {
    width: calc(100% + var(--LineHeight));
    left: calc(var(--LineHeight) / -2);
  }



  .toolbar img {
    margin: 0 16px;
  }

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 8px;
  }

  .toolbar #youtube-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover,
  .toolbar #youtube-logo:hover {
    opacity: 0.8;
  }

  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

  svg.material-icons {
    height: 24px;
    width: auto;
  }

  svg.material-icons:not(:last-child) {
    margin-right: 8px;
  }

  .card svg.material-icons path {
    fill: #888;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }

  .card {
    all: unset;
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  .card-container .card:not(:last-child) {
    margin-right: 0;
  }

  .card.card-small {
    height: 16px;
    width: 168px;
  }

  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }

  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  .card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
  }

  .card.highlight-card {
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }

  .card.card.highlight-card span {
    margin-left: 60px;
  }

  svg#rocket {
    width: 80px;
    position: absolute;
    left: -10px;
    top: -24px;
  }

  svg#rocket-smoke {
    height: calc(100vh - 95px);
    position: absolute;
    top: 10px;
    right: 180px;
    z-index: -10;
  }

  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }

  .terminal {
    position: relative;
    width: 80%;
    max-width: 600px;
    border-radius: 6px;
    padding-top: 45px;
    margin-top: 8px;
    overflow: hidden;
    background-color: rgb(15, 15, 16);
  }

  .terminal::before {
    content: "\2022 \2022 \2022";
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    background: rgb(58, 58, 58);
    color: #c2c3c4;
    width: 100%;
    font-size: 2rem;
    line-height: 0;
    padding: 14px 0;
    text-indent: 4px;
  }

  .terminal pre {
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    color: white;
    padding: 0 1rem 1rem;
    margin: 0;
  }

  .circle-link {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    margin: 8px;
    background-color: white;
    border: 1px solid #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: 1s ease-out;
  }

  .circle-link:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }

  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }

  footer a {
    display: flex;
    align-items: center;
  }

  .github-star-badge {
    color: #24292e;
    display: flex;
    align-items: center;
    font-size: 12px;
    padding: 3px 10px;
    border: 1px solid rgba(27,31,35,.2);
    border-radius: 3px;
    background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
    margin-left: 4px;
    font-weight: 600;
  }

  .github-star-badge:hover {
    background-image: linear-gradient(-180deg,#f0f3f6,#e6ebf1 90%);
    border-color: rgba(27,31,35,.35);
    background-position: -.5em;
  }

  .github-star-badge .material-icons {
    height: 16px;
    width: 16px;
    margin-right: 4px;
  }

  svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
  }

  /* Responsive Styles */
  @media screen and (max-width: 767px) {
    .card-container > *:not(.circle-link) ,
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }

  .home-container{
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 6rem;
    padding-top: 77px;;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    width: 80%
  }


</style>

<!-- Toolbar -->
<nav class="toolbar" >
  <div class="toolbar-div">
    <img
      width="90"
      alt="Angular Logo"
      src="/assets/imgs/wework-logo.png"
    />
    <div class="toolbar-menu-wrapper">
      <div class="toolbar-menu-list">
        <ul class="toolbar-menu">
          <li class="toolbar-item">
            <a class="toolbar-item-a">Encuentra una ubicación</a>
          </li>
          <li class="toolbar-item">
            <a class="toolbar-item-a">Ofertas</a>
          </li>
          <li class="toolbar-item">
            <a class="toolbar-item-a">Grandes empresas</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="toolbar-menu-wrapper-secondary">
      <div class="toolbar-menu-contact-us">
        <a class="toolbar-menu-contact-us-a">
          Contacto
        </a>
      </div>
    </div>
    <div class="toolbar-menu-login">
      <a class="toolbar-menu-login-cta">
        Inicio de sesión de miembros
      </a>
    </div>


  </div>

</nav>



<!--Main Section-->
<section style="width: 100%; padding-left: 10%; padding-right: 10%; padding-top: 90px">
  <div class="main-section-grid">
    <div class="main-section-item-1">
      <h1 style="font-size: 2.5rem; font-weight: 600; line-height: 3.5rem; margin-bottom: 1rem">
        Encuentra tu espacio de trabajo perfecto
      </h1>
      <p style="font-size: 1rem; font-weight: 400; line-height: 1.75rem; margin-bottom: 1rem;">
        Independientemente de si trabajas por tu cuenta,
        en una empresa emergente o en una compañía
        fortune 500, tenemos soluciones flexibles para
        todas las formas de trabajo.
      </p>

      <div class="ray-form-item">
        <div class="ray-select ray-select--with-icon-left ray-select--has-value" id="locations-dropdown-select__container">
          <div class="ray-select__icon--start">
            <svg width="12" height="16" viewBox="0 0 12 16" xmlns="http://www.w3.org/2000/svg">
              <title>marcador</title>
              <path d="M6 16S0 9.312 0 6a6 6 0 0 1 12 0c0 3.313-6 10-6 10zM6 1a5 5 0 0 0-5 5c0 2.761 5 8.499 5 8.499S11 8.761 11 6a5 5 0 0 0-5-5zm0 8a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0-5a2 2 0 1 0 0 4 2 2 0 0 0 0-4z">
              </path>
            </svg>
          </div>
          <label class="ray-select__label" for="locations-dropdown">
            Encuentra espacio de trabajo en
          </label>
          <select class="ray-select__input" id="locations-dropdown">
            <option hidden="" disabled="" selected="" value=""></option>
            <option data-ray-placeholder="" disabled="" value="">
              Elige una ubicación
            </option>
            <optgroup label="Estados Unidos">
              <option value="d1b2d8ba-fd49-4b4b-a846-bcb114120f8b" data-market-path="/l/atlanta--GA">Atlanta</option>
              <option value="9c61ee21-c44a-4fc7-9946-dba3bcf12346" data-market-path="/l/austin--TX">Austin</option>
              <option value="9e2eccb6-72b5-11ea-8934-06fdc5b25e91" data-market-path="/l/bethesda--MD">Bethesda</option>
              <option value="b27f4ee0-ec78-4cb1-91b3-c2f39000c7f2" data-market-path="/l/boston--MA">Boston</option>
              <option value="efc99d3c-9f0b-11e8-954d-1202be33576a" data-market-path="/l/boulder">Boulder</option>
              <option value="f07953df-116e-48e3-876a-28dcc0cb21ec" data-market-path="/l/charlotte">Charlotte</option>
              <option value="0286726e-0e84-4764-a5fd-253ad0fb2c62" data-market-path="/l/chicago--IL">Chicago</option>
              <option value="0c5d9be6-3428-11e8-aa86-1202be33576a" data-market-path="/l/college-park-md--MD">College Park, MD</option>
              <option value="0a434a5c-4a54-11e9-9a16-0ec6db7d2a3c" data-market-path="/l/columbus">Columbus</option>
              <option value="dfea5374-7939-11e6-bd08-0a488af3e541" data-market-path="/l/dallas-fort-worth--TX">Dallas - Fort Worth</option>
              <option value="b3556a21-07b8-4cd4-8a22-f3afa69b9734" data-market-path="/l/denver--CO">Denver</option>
              <option value="53ac3eb8-841a-11e6-a3b7-0a488af3e541" data-market-path="/l/detroit--MI">Detroit</option>
              <option value="521b1102-2bbb-11e7-8ac0-0a636a339cd2" data-market-path="/l/houston--TX">Houston</option>
              <option value="ff75b2ab-54db-4ec7-9cfe-612f47fc853d" data-market-path="/l/kansas-city">Kansas City</option>
              <option value="f50eccbc-9f1b-11e8-b627-1202be33576a" data-market-path="/l/las-vegas">Las Vegas</option>
              <option value="701a159d-2d30-43bf-8b88-949c7164a248" data-market-path="/l/los-angeles--CA">Los Ángeles</option>
              <option value="b194a31f-448d-4975-ab39-bf243ba91e10" data-market-path="/l/miami--FL">Miami</option>
              <option value="286377c0-372b-11e7-a110-0a636a339cd2" data-market-path="/l/minneapolis">Minneapolis</option>
              <option value="103dfee4-2f8e-11e7-ae38-0a636a339cd2" data-market-path="/l/nashville">Nashville</option>
              <option value="ac9c9fd0-431a-4e9b-9034-6428e7e53763" data-market-path="/l/new-york-city--NY">Ciudad de Nueva York</option>
              <option value="8597de1e-899c-11e6-a577-0a488af3e541" data-market-path="/l/orange-county--CA">Condado de Orange</option>
              <option value="6e102c87-c2df-4e13-a162-b49ed9b2ec46" data-market-path="/l/philadelphia--PA">Filadelfia</option>
              <option value="78096c6e-83a4-11e8-bca5-1202be33576a" data-market-path="/l/phoenix">Phoenix</option>
              <option value="115e62d6-3aba-11ed-a3a6-0adb0235f9eb" data-market-path="/l/plainfield--NJ">Plainfield</option>
              <option value="8dc75299-66f3-4867-95b8-c59cb4b2fd2b" data-market-path="/l/portland--OR">Portland</option>
              <option value="1d0504ce-7c50-11e7-beee-0a636a339cd2" data-market-path="/l/raleigh-durham--NC">Raleigh-Durham</option>
              <option value="dfa3b192-4a53-11e9-8d49-0ec6db7d2a3c" data-market-path="/l/sacramento--CA">Sacramento</option>
              <option value="4cd96242-83a4-11e8-bca5-1202be33576a" data-market-path="/l/salt-lake-city">Salt Lake City</option>
              <option value="18bfe31c-819b-11e6-8fa4-0a488af3e541" data-market-path="/l/san-diego--CA">San Diego</option>
              <option value="3f21d4f2-13e5-401b-925a-085964558f19" data-market-path="/l/seattle--WA">Seattle</option>
              <option value="56c5b200-6bfc-49f7-967d-c22192f4ce8b" data-market-path="/l/sf-bay-area--CA">Área de la Bahía de San Francisco</option>
              <option value="4378d828-2894-11e9-a531-1202be33576a" data-market-path="/l/tampa--FL">Tampa</option>
              <option value="678b2630-e1fb-4afe-b052-269d524ee873" data-market-path="/l/washington-DC">Washington, D.&nbsp;C.</option>
              <option disabled="">──────────</option>
            </optgroup>
          </select>
        </div>
      </div>

      <div class="home-hero__capacity-select ray-form-item">
        <button type="button" id="select-location-btn" class="home-hero__button home-hero__button--full-width ray-button ray-button--primary">
          Comenzar
        </button>
      </div>

    </div>


    <div class="main-section-item-2">
      <div>
        <img
          style="width: 100%"
          src="/assets/imgs/main-slider-1.jpeg"
          alt="main-image"
        />
      </div>
    </div>
  </div>

</section>



<!--BROWSER SECTION-->
<section style="width: 100%; padding-top: 70px">
  <div style="width: 100%; padding-left: 10%; padding-right: 10%; padding-bottom: 50px">
    <div style="display: flex; width: 100%; padding-bottom: 20px">
      <div style="width: 50%">
        <h3>
          ¿Qué estás buscando?
        </h3>
      </div>

      <div style="width: 50%; display: flex; justify-content: end">
        <a href="/es-LA/workspace" class="browse-by-workspace__header-cta-link&#45;&#45;mobile ray-link ray-link&#45;&#45;with-arrow analytics-cta-link" data-test-id="browse-by-workspace__header-cta-link" data-conditions-to-show="" aria-label="Ver todas las soluciones">Ver todas las soluciones</a>
      </div>
    </div>

    <div style="display: flex; width: 100%">
      <div class="browse-by-workspace__tiles" data-test-id="browse-by-workspace-tiles">
        <div class="ray-grid browse-by-workspace__items" data-test-id="browse-by-workspace__items">
          <a href="/es-LA/search?date=2023-02-22&amp;capacity=1&amp;workspace=privateOffice" data-test-id="browse-by-workspace__item-link" data-analytics-non-localized-label="Office space" data-analytics-selector="item" class="ray-grid__cell ray-grid__cell--span-3-desktop browse-by-workspace__item--with-description ray-grid__cell--span-full browse-by-workspace__item">
            <div class="browse-by-workspace__item-image-wrapper" data-test-id="browse-by-workspace__item-image">
              <img alt="" srcset="https://ctfassets.imgix.net/vh7r69kgcki3/UXP1XHGUaziQtFAGuMCZx/e3b5a6c56456da4f290c18426eb84c1a/Private_Office_274x274.png?auto=format%20compress&amp;fit=crop&amp;q=50&amp;w=200&amp;h=200 2x" src="https://ctfassets.imgix.net/vh7r69kgcki3/UXP1XHGUaziQtFAGuMCZx/e3b5a6c56456da4f290c18426eb84c1a/Private_Office_274x274.png?auto=format%20compress&amp;fit=crop&amp;q=50&amp;w=100&amp;h=100" class="browse-by-workspace__item-image">
            </div>
            <div class="browse-by-workspace__item-description">
              <div class="browse-by-workspace__item-description-wrapper">
                <div class="browse-card-title" data-test-id="browse-by-workspace__item-title">Espacio de oficina</div>
                <div class="browse-card-text" data-test-id="browse-by-workspace__item-description">Oficinas privadas listas para la mudanza</div>
                <div class="browse-card-text">
                  <img alt="" srcset="https://ctfassets.imgix.net/vh7r69kgcki3/11PEWQdLPLfZffes32pMBF/33b28fafc851034ab6f56e48e3403d92/capacity.svg?auto=format%20compress&amp;fit=crop&amp;q=50&amp;w=40&amp;h=40 2x" src="https://ctfassets.imgix.net/vh7r69kgcki3/11PEWQdLPLfZffes32pMBF/33b28fafc851034ab6f56e48e3403d92/capacity.svg?auto=format%20compress&amp;fit=crop&amp;q=50&amp;w=20&amp;h=20" class="browse-by-workspace__item-icon" data-test-id="browse-by-workspace__item-icon-capacity">1-20+
                </div>
              </div>
            </div>
          </a>
          <a href="/es-LA/search?date=2023-02-22&amp;capacity=1&amp;workspace=dedicatedDesk" data-test-id="browse-by-workspace__item-link" data-analytics-non-localized-label="Desk space" data-analytics-selector="item" class="ray-grid__cell ray-grid__cell--span-3-desktop browse-by-workspace__item--with-description ray-grid__cell--span-full browse-by-workspace__item">
            <div class="browse-by-workspace__item-image-wrapper" data-test-id="browse-by-workspace__item-image">
              <img alt="" srcset="https://ctfassets.imgix.net/vh7r69kgcki3/73hu5tZReoDfkgGuwO3Kp6/1c2f026375a43837c38dffd2cab0917d/Dedicated_Desk_274x274.png?auto=format%20compress&amp;fit=crop&amp;q=50&amp;w=200&amp;h=200 2x" src="https://ctfassets.imgix.net/vh7r69kgcki3/73hu5tZReoDfkgGuwO3Kp6/1c2f026375a43837c38dffd2cab0917d/Dedicated_Desk_274x274.png?auto=format%20compress&amp;fit=crop&amp;q=50&amp;w=100&amp;h=100" class="browse-by-workspace__item-image">
            </div>
            <div class="browse-by-workspace__item-description">
              <div class="browse-by-workspace__item-description-wrapper">
                <div class="browse-card-title" data-test-id="browse-by-workspace__item-title">Escritorio dedicado</div>
                <div class="browse-card-text" data-test-id="browse-by-workspace__item-description">Tu propio escritorio en una oficina compartida</div>
                <div class="browse-card-text">
                  <img alt="" srcset="https://ctfassets.imgix.net/vh7r69kgcki3/567C6OmlkdbvCVs92HZn5C/02b7284f201f369847af08665c89ba76/capacity.svg?auto=format%20compress&amp;fit=crop&amp;q=50&amp;w=40&amp;h=40 2x" src="https://ctfassets.imgix.net/vh7r69kgcki3/567C6OmlkdbvCVs92HZn5C/02b7284f201f369847af08665c89ba76/capacity.svg?auto=format%20compress&amp;fit=crop&amp;q=50&amp;w=20&amp;h=20" class="browse-by-workspace__item-icon" data-test-id="browse-by-workspace__item-icon-capacity">1
                </div>
              </div>
            </div>
          </a>
          <a href="/es-LA/search?date=2023-02-22&amp;capacity=1&amp;workspace=hotDesk" data-test-id="browse-by-workspace__item-link" data-analytics-non-localized-label="Open Workspace" data-analytics-selector="item" class="ray-grid__cell ray-grid__cell--span-3-desktop browse-by-workspace__item--with-description ray-grid__cell--span-full browse-by-workspace__item">
            <div class="browse-by-workspace__item-image-wrapper" data-test-id="browse-by-workspace__item-image">
              <img alt="" srcset="https://ctfassets.imgix.net/vh7r69kgcki3/3j9aqbBpEAl7GYPX1CbAIo/6ee0f13d82cc6e1ad53b5affb75d30ab/Hot_Desks_274x274.png?auto=format%20compress&amp;fit=crop&amp;q=50&amp;w=200&amp;h=200 2x" src="https://ctfassets.imgix.net/vh7r69kgcki3/3j9aqbBpEAl7GYPX1CbAIo/6ee0f13d82cc6e1ad53b5affb75d30ab/Hot_Desks_274x274.png?auto=format%20compress&amp;fit=crop&amp;q=50&amp;w=100&amp;h=100" class="browse-by-workspace__item-image">
            </div>
            <div class="browse-by-workspace__item-description">
              <div class="browse-by-workspace__item-description-wrapper">
                <div class="browse-card-title" data-test-id="browse-by-workspace__item-title">Espacio de coworking</div>
                <div class="browse-card-text" data-test-id="browse-by-workspace__item-description">Hot desks, salas, cabinas telefónicas y más</div>
                <div class="browse-card-text">
                  <img alt="" srcset="https://ctfassets.imgix.net/vh7r69kgcki3/567C6OmlkdbvCVs92HZn5C/02b7284f201f369847af08665c89ba76/capacity.svg?auto=format%20compress&amp;fit=crop&amp;q=50&amp;w=40&amp;h=40 2x" src="https://ctfassets.imgix.net/vh7r69kgcki3/567C6OmlkdbvCVs92HZn5C/02b7284f201f369847af08665c89ba76/capacity.svg?auto=format%20compress&amp;fit=crop&amp;q=50&amp;w=20&amp;h=20" class="browse-by-workspace__item-icon" data-test-id="browse-by-workspace__item-icon-capacity">Más de 1
                </div>
              </div>
            </div>
          </a>
          <a href="/es-LA/solutions/meeting-rooms?capacity=1" data-test-id="browse-by-workspace__item-link" data-analytics-non-localized-label="Meeting Room" data-analytics-selector="item" class="ray-grid__cell ray-grid__cell--span-3-desktop browse-by-workspace__item--with-description ray-grid__cell--span-full browse-by-workspace__item">
            <div class="browse-by-workspace__item-image-wrapper" data-test-id="browse-by-workspace__item-image">
              <img alt="" srcset="https://ctfassets.imgix.net/vh7r69kgcki3/35qhYMr0wIJvd2o5MAuSHd/c45139bad5decb1cf980735f9f632a05/Meeting_Small_274x274.png?auto=format%20compress&amp;fit=crop&amp;q=50&amp;w=200&amp;h=200 2x" src="https://ctfassets.imgix.net/vh7r69kgcki3/35qhYMr0wIJvd2o5MAuSHd/c45139bad5decb1cf980735f9f632a05/Meeting_Small_274x274.png?auto=format%20compress&amp;fit=crop&amp;q=50&amp;w=100&amp;h=100" class="browse-by-workspace__item-image">
            </div>
            <div class="browse-by-workspace__item-description">
              <div class="browse-by-workspace__item-description-wrapper">
                <div class="browse-card-title" data-test-id="browse-by-workspace__item-title">Sala de reuniones</div>
                <div class="browse-card-text" data-test-id="browse-by-workspace__item-description">Salas privadas que se pueden reservar por hora</div>
                <div class="browse-card-text">
                  <img alt="" srcset="https://ctfassets.imgix.net/vh7r69kgcki3/11PEWQdLPLfZffes32pMBF/33b28fafc851034ab6f56e48e3403d92/capacity.svg?auto=format%20compress&amp;fit=crop&amp;q=50&amp;w=40&amp;h=40 2x" src="https://ctfassets.imgix.net/vh7r69kgcki3/11PEWQdLPLfZffes32pMBF/33b28fafc851034ab6f56e48e3403d92/capacity.svg?auto=format%20compress&amp;fit=crop&amp;q=50&amp;w=20&amp;h=20" class="browse-by-workspace__item-icon" data-test-id="browse-by-workspace__item-icon-capacity">1-20
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>


<!--BENEFITS SECTION-->
<section style="width: 100%; padding-left: 10%; padding-right: 10%; padding-bottom: 100px">
  <div style="display: flex; width: 100%; padding-bottom: 20px; padding-top: 50px">
    <div>
      <h2 style="font-size: 2.6rem; font-weight: 600; line-height: 2.75rem">
        Obtén el espacio de trabajo que necesitas, cúando y dónde lo necesites, para que puedas concentrarte en tu negocio
      </h2>
    </div>
  </div>

  <div style="display: flex; width: 100%">
    <div class="benefits-grid">
      <div class="benefits-item">
        <div style="padding-top: 15px; padding-bottom: 15px">
          <img alt="library" src="/assets/imgs/library-icon.png" style="width: 96px; height: 96px" />
        </div>
        <h4 style="font-size: 1.5rem; font-weight: 600; line-height: 1.75rem; padding-top: 15px; padding-bottom: 15px">
          Espacios flexibles que se adaptan a tus necesidades
        </h4>
        <div style="font-size: 1.2rem; font-weight: 300; line-height: 1.75rem; padding-top: 15px; padding-bottom: 15px">
          Ya sea que necesites un escritorio para empleados híbridos o remotos, oficinas listas
          para albergar a equipos de cualquier tamaño o una nueva sede, tenemos la solución.
        </div>
      </div>
      <div class="benefits-item">
        <div style="padding-top: 15px; padding-bottom: 15px">
          <img alt="library" src="/assets/imgs/calendar-icon.png" style="width: 96px; height: 96px" />
        </div>
        <h4 style="font-size: 1.5rem; font-weight: 600; line-height: 1.75rem; padding-top: 15px; padding-bottom: 15px">
          Espacio de trabajo cuando lo desees
        </h4>
        <div style="font-size: 1.2rem; font-weight: 300; line-height: 1.75rem; padding-top: 15px; padding-bottom: 15px">
          Reserva por hora o por día, obtén acceso mundial mensual o quédate en una oficina durante el tiempo que desees.
        </div>
      </div>
      <div class="benefits-item">
        <div style="padding-top: 15px; padding-bottom: 15px">
          <img alt="library" src="/assets/imgs/world-icon.png" style="width: 96px; height: 96px" />
        </div>
        <h4 style="font-size: 1.5rem; font-weight: 600; line-height: 1.75rem; padding-top: 15px; padding-bottom: 15px">
          Haz tu mejor trabajo en cualquier lugar
        </h4>
        <div style="font-size: 1.2rem; font-weight: 300; line-height: 1.75rem; padding-top: 15px; padding-bottom: 15px">
          Tu membresía te permite acceder a una red global de más de 700 ubicaciones de excelencia,
          cada una llena de elementos esenciales para el negocio y una comunidad amigable.
        </div>
      </div>
    </div>
  </div>
</section>



<!--MAP SECTION-->
<section style="width: 100%; background-color: #F7F7F7">
  <div style="width: 100%; padding-left: 10%; padding-right: 10%; display: flex">
    <div style="width: 35%; padding-top: 50px;">
      <div style="font-weight: 400; font-size: 1.5rem; padding-bottom: 15px">RED GLOBAL</div>
      <h1 style="font-size: 2.6rem; padding-bottom: 15px">Espacio de trabajo dónde y cúando lo necesites</h1>
      <div style="font-size: 1.5rem; line-height: 2.25rem">Con más de 700 ubicaciones en todo el mundo,
      los equipos pueden trabajar mejor en más
      lugares, ya sea cerca de casa, en múltiples
      espacios de trabajo o en una oficina central.</div>
      <div style="padding-top: 30px; font-size: 1.5rem">
        <a href="/es-LA/workspace" class="browse-by-workspace__header-cta-link&#45;&#45;mobile ray-link ray-link&#45;&#45;with-arrow analytics-cta-link" data-test-id="browse-by-workspace__header-cta-link" data-conditions-to-show="" aria-label="Ver todas las soluciones">Explora las ubicaciones</a>
      </div>
    </div>
    <div style="width: 65%">
      <div style="display: flex; justify-content: center; align-items: center; padding-top: 50px; padding-bottom: 50px; padding-left: 80px">
        <img src="/assets/imgs/mapa.jpeg" alt="mapa" style="width: 100%"/>
      </div>
    </div>
  </div>
</section>


<!--BRANDS SECTION-->
<section style="width: 100%; padding-left: 10%; padding-right: 10%; padding-top: 50px">
  <h1 style="font-size: 2.6rem; padding-bottom: 15px">
    Empoderamos al mundo del mañana en el trabajo
  </h1>
  <div style="width: 85%; font-size: 1.75rem; line-height: 2.75rem; padding-bottom: 35px">
    Durante más de una década, hemos liderado el futuro del trabajo flexible.
    Desde trabajadores independientes hasta empresas Fortune 500, estamos
    ayudando a nuestros miembros a reimaginar la forma en que trabajan.
  </div>
  <div class="logos-grid">
    <div class="logos-items">
      <img  src="assets/imgs/logo_microsoft.png" style="width: 100px; height: 41px" />
    </div>
    <div class="logos-items">
      <img  src="assets/imgs/pfizer.png" style="width: 100px; height: 58px" />
    </div>
    <div class="logos-items">
      <img  src="assets/imgs/samsung.png" style="width: 100px; height: 16px" />
    </div>
    <div class="logos-items">
      <img  src="assets/imgs/Salesforce_logo.png" style="width: 91px; height: 64px" />
    </div>
    <div class="logos-items">
      <img  src="assets/imgs/visa.png" style="width: 100px; height: 33px" />
    </div>
    <div class="logos-items">
      <img  src="assets/imgs/zoom.png" style="width: 100px; height: 23px" />
    </div>
  </div>
</section>


<!--IDEAS SECTION-->
<section style="width: 80%; padding-left: 10%; padding-right: 10%; padding-top: 50px">
  <div style="font-weight: 400; font-size: 1.2rem; padding-bottom: 15px">
    IDEAS BY WEWORK
  </div>
  <div style="width: 100%">
    <div style="width: 65%">
      <h2 style="font-size: 2.6rem; font-weight: 600; line-height: 2.75rem">
        Tendencias y perspectivas de los espacios de trabajo
      </h2>
    </div>
    <div style="width: 35%">
      <div style="font-size: 1.3rem">
        <a href="/es-LA/workspace" class="browse-by-workspace__header-cta-link&#45;&#45;mobile ray-link ray-link&#45;&#45;with-arrow analytics-cta-link" data-test-id="browse-by-workspace__header-cta-link" data-conditions-to-show="" aria-label="Ver todas las soluciones">Sigue leyendo</a>
      </div>
    </div>
  </div>
</section>



<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
